body {
	background-color: #222;
	font-family: monospace;
	color: #f66;
}

.container {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	margin: 2rem auto;
	gap: 20px;
	place-items: center;
}

.container img {
	width: 200px;
}

a {
	color: ghostwhite;
}
